.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

label {
  margin-right: 15px;
  align-items: center;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
input[type="text"] {
  padding: 5px;
  font-size: 16px;
}

input[type="radio"] {
  margin: 5px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
input[type="submit"] {
  margin-top: 10px;
  padding: 10px;
  width: 80px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}
input[type="submit"]:hover{
  background-color: #0069d9;
}